1 ICON "ReSkate.ico"
1 24 "ReSkate.manifest"
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "IronWillInteractive"
      VALUE "FileDescription", "ReSkate"
      VALUE "FileVersion", "1.0.0.0"
      VALUE "InternalName", "ReSkate"
      VALUE "LegalCopyright", "IronWillInteractive"
      VALUE "OriginalFilename", "ReSkate.exe"
      VALUE "ProductName", "ReSkate"
      VALUE "ProductVersion", "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
